[submodule "nates_factions/modlib"]
	path = nates_factions/modlib
	url = https://github.com/appgurueu/modlib.git
[submodule "nate_modpack/modlib"]
	path = nate_modpack/modlib
	url = https://github.com/appgurueu/modlib.git
[submodule "graffiti/ggraffiti"]
	path = graffiti/ggraffiti
	url = https://github.com/grorp/ggraffiti
