[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores.git
[submodule "biome_lib"]
	path = biome_lib
	url = https://gitlab.com/VanessaE/biome_lib.git
[submodule "moretrees"]
	path = moretrees
	url = https://gitlab.com/VanessaE/moretrees.git
[submodule "plantlife_modpack"]
	path = plantlife_modpack
	url = https://gitlab.com/VanessaE/plantlife_modpack.git
[submodule "ethereal"]
	path = ethereal
	url = https://notabug.org/TenPlus1/ethereal.git
[submodule "bakedclay"]
	path = bakedclay
	url = https://notabug.org/TenPlus1/bakedclay.git
[submodule "farming"]
	path = farming
	url = https://notabug.org/TenPlus1/farming.git
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://gitlab.com/VanessaE/unifieddyes.git
[submodule "coloredwood"]
	path = coloredwood
	url = https://gitlab.com/VanessaE/coloredwood.git
[submodule "intllib"]
	path = intllib
	url = https://github.com/minetest-mods/intllib.git
